/***** コンテンツ全体 *****/
html,body{
    height: 95%;
    box-sizing: border-box;
}
body{
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header{
    height: 20%;
    box-sizing: border-box;
}
.contents{
    padding: 10px 10px 10px 10px;
    height: 80%;
    box-sizing: border-box;
}

/***** コンテンツ全体 *****/
/*******メニュー*********/
.menu{
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.menuheading,.sizeheading{
    font-size: 30px;
    float: left;
    padding: 6px 0px 6px 0px;
    border: solid 1px;
    width: 100%;
    text-align : center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.menuin{
	float: left;

	width: 100%;
	border: 5px;
	box-sizing: border-box;
}

.menuname{
    float: left;
    font-size: 24px;
    width: 100%;
    height: 15%;
}

.menuleft{
	float: left;
	width: 50%;
	height: 85%;
	padding-left: 50px;
	box-sizing: border-box;
}
.menuleft > img {
	height: 200px;
	width: 250px;

}
.menuright{
	float: left;
	width: 50%;
	height: 85%;
	box-sizing: border-box;
}
.pricezei{
		font-size: 1.4em;
}
.description{
		font-size: 1.2em;
}
/*******メニュー*********/
/*************サイズ****************/

.size{
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.sizein{
		font-size: 20px;
	float: left;
	padding-top: 10px;
	height: 85%;
	width: 100%;
	box-sizing: border-box;
}
.s{
	text-align : center;
	float: left;
	height: 100%;
	width: 33%;
	box-sizing: border-box;
}
.s >img{
	height: 9em;
    width: 9em;
}
.m{
	text-align : center;
	float: left;
	height: 100%;
	width: 34%;
	box-sizing: border-box;
}
.l{
	text-align : center;
	float: left;
	height: 100%;
	width: 33%;
	box-sizing: border-box;
}

/*************サイズ****************/
/*********セレクト&数量選択カート移動***********/

.select{
	float: left;
	height: 70px;
	width:100%;
	border: solid 1px;
	box-sizing: border-box;
	font-size: 1.4em;
    margin-bottom: 20px;
}
.selectleft{
	float: left;
	font-size:1.2em;
	padding: 20px;
	padding-left: 80px;
	width: 34%;
	height: 100%;

	box-sizing: border-box;	
}
.selectleft > select{
	font-size: 1.0em;
}

.selectcenter{
	float: left;
	font-size:1.2em;
	padding-top: 20px;
	width: 40%;
	height: 100%;
	box-sizing: border-box;		
}

.selectright{
	float: left;
	font-size:0.9em;
	padding-left: 55px;
	width: 26%;
	height: 100%;
	background-image: url("../img/cart.png");
	background-size: contain;
	box-sizing: border-box;
}
/*********セレクト&数量選択カート移動***********/
/****一覧へ戻る******/

.itiran{
	float: left;
    font-size: 20px;
    padding-top:5px; 
	height: 40px;
	width: 20%;
    margin: 8px 40%;
    border: solid 1px;
	text-align : center;
	box-sizing: border-box;
}
/****一覧へ戻る******/
